


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   

    <h1>Hello, world! @ViewData["nombreUsuario"] </h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />

    <div>
    <a href= "@Url.Action("CerrarSesion","Home")">Cerrar Sesion</a>
</div>

</body>
</html>

